.DS_Store

myenv/

# Ignore Database files
*.xlsx
*.xls
*.html
*.htm

Resources/TechnischerPlatz/0.txt
Resources/TechnischerPlatz/1.txt
Resources/TechnischerPlatz/2.rtf

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore build and distribution files
build/
dist/
*.spec


